/*
  - Color Scheme -
  #dee1dd
  #c4cdc1
  #99aead
  #6d9197
  #658b6f
  #2f575d
  #28363d
*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
label,
pre {
  font-family: Arial, Helvetica, sans-serif;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 15%;
  border-radius: 5px;
}

.right {
  width: 25%;
  border-radius: 5px;
}

.middle {
  width: 60%;
  border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #0f5298;
}

.container {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: #d5f3fe;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 200;
}

.logo-container h1 a {
  width: 10%;
  color: #d5f3fe;
}

.logo-container h1 span {
  width: 10%;
  font-weight: 800;
}

.logo-container h1 img {
  margin-right: 10px;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #3c99dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.navigation a li:hover {
  color: #fff;
}

.slider {
  width: 600px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slides {
  width: 500%;
  height: 350px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 600px;
  height: 350px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 600px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #d5f3fe;
  padding: 3px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #d5f3fe;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 600px;
  justify-content: center;
  margin-top: 320px;
}

.navigation-auto div {
  border: 2px solid #d5f3fe;
  padding: 3px;
  border-radius: 5px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #d5f3fe;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #d5f3fe;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #d5f3fe;
}

/** Start Sidebar Left **/

.wrapper-sidebar-left {
  display: flex;
}

.wrapper-sidebar-left .sidebar {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.wrapper-sidebar-left .sidebar ul li {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper-sidebar-left .sidebar ul li a {
  color: #fff;
}

.wrapper-sidebar-left .sidebar ul li a .fas {
  width: 100%;
}

.wrapper-sidebar-left .sidebar ul li:hover {
  background-color: #d5f3fe;
}

.wrapper-sidebar-left .sidebar ul li:hover a {
  color: #2565ae;
}

/** End Sidebar Left **/

/** Start Sidebar Right **/

.wrapper-sidebar-right {
  display: flex;
}

.wrapper-sidebar-right .sidebar {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.wrapper-sidebar-right .sidebar ul li {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper-sidebar-right .sidebar ul li a {
  color: #2565ae;
  display: block;
}

.wrapper-sidebar-right .sidebar ul li a .fas {
  width: 25px;
}

.wrapper-sidebar-right .sidebar ul li:hover {
  background-color: #66d3fa;
}

.wrapper-sidebar-right .sidebar ul li:hover a {
  color: #242424;
}

/** End Sidebar Right **/

#main-footer {
  background: #0f5298;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.signup,
.login {
  width: 50%;
  background: #2565ae;
  border-radius: 5px 5px 0 0;
  float: left;
  color: #fff;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.login-form {
  border-radius: 0px 0px 5px 5px;
  background: #2565ae;
  padding: 40px;
  clear: both;
  width: 100%;
  height: 100%;
}

.signup-form {
  border-radius: 0px 0px 5px 5px;
  background: #2565ae;
  padding: 40px;
  clear: both;
  width: 100%;
  height: 100%;
}

.signup-form label,
.middle-form label {
  color: #fff;
}

/** Input **/

.input-form {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #d5f3fe;
  color: #242424;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  transform: all 0.5s ease;
}

/** Input **/

/** Drop Down **/

.dropdown-form {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #d5f3fe;
  color: #242424;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  transform: all 0.5s ease;
}

/** Drop Down **/

.btn-submit {
  width: 100%;
  background: #d5f3fe;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3c99dc;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-send {
  width: 100%;
  background: #d5f3fe;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3c99dc;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

.forgot-form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #fff;
}

.forgot-form a {
  text-decoration: none;
  font-weight: bolder;
  color: #fff;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-soc {
  float: left;
  width: 3%;
  padding: 5px;
}

.column-soc img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

/* Clear floats after image containers */
.row-soc::after {
  content: "";
  clear: both;
  display: table;
}

.fix-img {
  position: fixed;
  margin-left: 5px;
  bottom: -15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.fix-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-weight: bolder;
  border: none;
  outline: none;
  background: #d5f3fe;
  color: #3c99dc;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fix-btn:hover {
  background-color: #fff;
}

.pagination-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #0f5298;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #d5f3fe;
  color: #0f5298;
  border: 1px solid#d5f3fe;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/** Start Contact Us **/

.middle-form {
  width: 100%;
  background: #2565ae;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.middle-form {
  margin-top: 0;
  font-weight: 200;
  text-align: left;
  color: #fff;
}

.txtbox-contact {
  border: 1px solid #d5f3fe;
  margin: 8px 0;
  padding: 10px 10px;
  border-radius: 5px;
}

.txtbox-contact label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.txtbox-contact input,
.txtbox-contact textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 6px;
  font-weight: normal;
}

/** End Contact Us **/

/** Start Search **/
.search-box {
  width: 100%;
  padding: 0 15px 0 15px;
}

.search-box input[type="text"] {
  width: 88%;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #2565ae;
  margin-bottom: 10px;
  color: #242424;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  float: left;
}

.search-box img {
  width: 5%;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.search-box::after {
  content: "";
  clear: both;
  display: table;
}
/** End Search **/

/** Start Facebook **/

.login-form a.fb,
.signup-form a.fb {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  background: #3c66c4;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 20, 0.4);
  text-decoration: none;
  line-height: 1;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login-form .fb-connect:before,
.signup-form .fb-connect:before {
  display: inline-block;
  background-image: url(../img/fb.png);
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  text-indent: -9999px;
  text-align: center;
  width: 29px;
  line-height: 23px;
  margin: -8px 7px -7px -30px;
  padding: 2 25px 0 0;
  content: "f";
}

/** End Facebook **/

/** Start Google **/

.login-form a.g,
.signup-form a.g {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  background: #fff;
  color: #7b7b7b;
  text-shadow: 0 -1px 0 rgba(0, 0, 20, 0.4);
  text-decoration: none;
  line-height: 1;
  margin-bottom: 20px;
  border-radius: 5px;
}

.login-form .g-connect:before,
.signup-form .g-connect:before {
  display: inline-block;
  background-image: url(../img/g.png);
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  text-indent: -9999px;
  text-align: center;
  width: 29px;
  line-height: 23px;
  margin: -8px 7px -7px -30px;
  padding: 2 25px 0 0;
  content: "f";
}

/** End Google **/

/** Start Radio Button **/

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 100%;
  outline: none;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin: 0% auto;
  border-radius: 100%;
}
input[type="radio"]:checked:before {
  background: #66d3fa;
}

/** End Radio Button **/

/** Start Date Picker **/

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#birthdate {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  padding: 3px 5px;
  height: 30px;
  width: 100%;
}

/** GRID VIEW **/

.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  padding: 20px;
  /* grid-template-columns: 32% 32% 32%;
  padding: 1%; */
}

.grid-item {
  padding: 10px;
  /* padding: 5%; */
}

.grid-item .ellipsis {
  font-size: 12px;
  text-transform: uppercase;
  height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  cursor: pointer;
}

/** GRID VIEW **/

/** PRODUCT DETAILS **/

.content-top img {
  height: 320px;
  width: 320px;
  float: left;
}

.content-right {
  padding: 0px 20px 0 20px;
  overflow: hidden;
}

.content-right h2 {
  color: #0f5298;
  margin-bottom: 20px;
}

.content-top {
  padding: 0 20px 20px 20px;
  overflow: hidden;
}

.content-bottom {
  padding: 0 20px 0 20px;
  text-align: left;
}

.content-bottom pre {
  font-size: 15px;
  line-height: 1.6;
}

/** PRODUCT DETAILS **/

@media (max-width: 600px) {
  .container {
    width: 100%;
    float: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
