/*
  - Color Scheme -
  #dee1dd
  #c4cdc1
  #99aead
  #6d9197
  #658b6f
  #2f575d
  #28363d
*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 15%;
}

.right {
  width: 25%;
}

.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #28363d;
}

.container {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: #dee1dd;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 200;
}

.logo-container h1 span {
  font-weight: 800;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #658b6f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.navigation a li:hover {
  color: #fff;
}

.slider {
  width: 600px;
  height: 350px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slides {
  width: 500%;
  height: 350px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 600px;
  height: 350px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 600px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #dee1dd;
  padding: 3px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #dee1dd;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 600px;
  justify-content: center;
  margin-top: 320px;
}

.navigation-auto div {
  border: 2px solid #dee1dd;
  padding: 3px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #dee1dd;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #dee1dd;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #dee1dd;
}

.wrapper {
  display: flex;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  padding: 10px 0px;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #99ae;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

#main-footer {
  background: #28363d;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.signup,
.login {
  width: 50%;
  background: #2f575d;
  float: left;
  color: #fff;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.login-form,
.signup-form {
  border-radius: 0px 0px 10px 10px;
  background: #2f575d;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 280px;
}

.input-form {
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  transform: all 0.5s ease;
}

.input-form:focus {
  border: 2px solid #34b3a0;
}

.btn-right {
  width: 100%;
  background: #34b3a0;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
}

.forgot-form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #fff;
}

.forgot-form a {
  text-decoration: none;
  font-weight: bold;
  color: #658b6f;
}

/* Float four columns side by side */
.column-grid {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row-grid {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row-grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-grid {
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.card-grid h3 {
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-grid p {
  font-size: 10px;
  font-weight: bold;
}

.card-grid:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  cursor: pointer;
}

.card-grid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-soc {
  float: left;
  width: 3%;
  padding: 5px;
}

.column-soc img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

/* Clear floats after image containers */
.row-soc::after {
  content: "";
  clear: both;
  display: table;
}

.fix-img {
  position: fixed;
  margin-left: 5px;
  bottom: -15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.fix-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #6d9197;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fix-btn:hover {
  background-color: #555;
}

.pagination-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #34b3a0;
  color: white;
  border: 1px solid#34b3a0;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/** Contact Us **/

.contact-form {
  width: 100%;
  background: #2f575d;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.contact-form {
  margin-top: 0;
  font-weight: 200;
}

.txtbox-contact {
  border: 1px solid #dee1dd;
  margin: 8px 0;
  padding: 10px 10px;
  border-radius: 8px;
}

.txtbox-contact label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.txtbox-contact input,
.txtbox-contact textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 6px;
  font-weight: normal;
}

.btn-bottom {
  display: inline-block;
  background: #99aead;
  padding: 14px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

/** Contact Us **/

/** View Detail - Modal **/

.modal {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #6d9197;
  border-radius: 5px;
  z-index: 10;
  background-color: #fff;
  max-width: 40%;
  max-height: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal label {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 0 20px;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  color: #000000;
  font-weight: bold;
  margin-left: 10px;
}

.modal-body {
  padding: 10px 15px;
  color: #000000;
}

.modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-height: 500px;
  transition: transform 0.2s;
}

.modal-body img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.modal-body p {
  display: block;
  overflow-y: scroll;
  height: 100px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/** View Detail - Modal **/

@media (max-width: 600px) {
  .container {
    width: 100%;
    float: none;
  }

  .column-grid {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
